@import './../../../colors.scss';

.start-fundraising-container{
  position: fixed;
  margin: auto;
  top: 0;
  bottom:0;
  left: 0;
  right:0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(20,20,20, 0.9);
  display: flex;
  align-items: center;
  justify-content: center; 

  // background-image: url("./../../../../build/images/under-construction.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // padding: 9% 35% 0 20%;


  section{
    height: 450px;
    width:505px;
    color: #777777;
    background-color:#fff;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10%;



    h2{
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .fa-times {
      position: absolute;
      z-index: 23;
      font-size: 2em;
      right:0;
      top: 0;
      color: #777777;
      margin-top: 7px;
      margin-right: 7px;

      &:hover {
        color: $giving-web-purple;
        cursor: pointer;
      }

    }
    .fa-child {
      color: #57B3F4;
      font-size: 7em;

    }

    p{
      margin-bottom: 20px;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
    }

    .email-signup {

      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;


      input[type=email]{
        display: block;
        height: 45px;
        margin-bottom: 15px;
        padding: 10px;
        width: 400px;
        font-size: 20px;

        &:focus {
          outline: $giving-web-purple; 
        }
      }

      button{
        border: none;
        color: #fff;
        font-size: 17px;
        height: 50px;
        padding: 15px;
        background-color: $giving-web-purple;
        border-radius: 5px;
        border: solid 1.5px $giving-web-purple;
        // box-shadow: 2px 2px 4px #594ED5;
        // text-decoration: none;
        // color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 20px;
        font-weight: 300; 
        margin-bottom: 20px;
        transition-duration: 0.2s;
        cursor: pointer;
        outline: none; 




        &:hover {
          background-color: #fff;
          color: $giving-web-purple;
        }

      }
    }
  }
}
