.featured-member-selector{
  flex: 1;
  padding: 5px;
  text-align: center;

 .member-placeholder {
    padding-top: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    color: white;
    background: #444;
  }
  .del-div{
    height: 19px;
  }
}
