# Node Frontend
node_modules
npm-debug.log

# updated for webpack server and testing
package-lock.json
.DS_Store

app.bundle.js
app.bundle.js.map
app.css
app.css.map
build/index.html

#test
test/coverage
js_playground.js


#cloudinary api key
cloudinaryEvn.js
aws

