.charity-link{ 

  text-decoration: none; 

}

.search-charity-preview {
  // background-color: red;
  // margin-top: 10px;
  // border-radius: 5px;
  border: 1px solid lighten(#bbb, 20);
  background-color: lighten(#f7f7f7, 2);
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none; 

  &:hover {
  background-color: darken(#f7f7f7, 5);

  }

  // justify-content: space-between;

  .image-cover {
    min-height: 70px;
    min-width: 70px;
    border-radius: 50px;
    // margin-right: 10px;
    margin-left: 10px;
    position: relative; 

    
  }

  img {
    // width: 80px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 80px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 0.7px #fff;
    box-shadow: 0.5px 0.8px 3px 0.25px #888888;

    object-position: 50% 50%;
    cursor: pointer;

    &:hover {
      transition: 0.4s ease;
      transform: scale(1.05);
    }
  }

  .charity-preview-info {
    
    display: flex; 
    flex-direction: column; 
    width: 60%;
    align-items: flex-start;
    // height: 50px;
    padding: 10px;
    justify-content: flex-start;

    h3 {
      // padding: 10px;
      // width: 25%;
      font-size: 1.1em;
      font-weight: 400;
      margin-bottom: 2px; 
      color: #333333;

    }

    h2 {
      // padding: 10px;
      // width: 25%;
      font-size: 0.9em;
      font-weight: 300;
      padding-bottom: 5px;
      color: #686868;

    }

    .view-campaign {
      font-size: 0.8em;
      font-weight: 300;
      text-decoration: none;
      color: lighten(#444444, 30);

      i {
        margin-right: 3px;
      }
      &:hover {
        color: #7b5dff;
      }
    }

    
  }


  .donation-details-member-preview {
    display: flex;

    width: 20%;
    // background-color: blue;
    flex-direction: column;
    // padding: 10px;
    // justify-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
    color: #666AF6;

    .member-progress-bar {
      width: 70%;
      height: 8px;
      border-radius: 5px;
      background-color: #ddd;
      overflow: hidden;
      margin-top: 5px;

      .bar-fill {
        // width: 80%;
        height: 8px;
        background-color: gold;
      }
    }
    // .donation-information {
    //   min-height: 80px;
    //   width: 80%;
    //   padding: 10px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   // align-items: center;
    //   margin-right: 25px;

    //     h4 {
    //       font-weight: 300;
    //     }


    //   }

  .percentage-container {
    height: 100%;
    width: 15%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 300;
    color: #7b5dff;
    }
  }
}


