$giving-web-purple: #7267ee;
$border: 1px solid #eaeaea;
$light-grey-color: #686868;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

.member-show-page {

  width: 100%;
  display: flex;
  background-color: #fcfcfc;
  font-family: Montserrat, sans-serif;

  .main-wrapper {
    width: 1170px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 50px;

    .left-section {
        @include flex-column;
        width: 65%;
        display: flex;
        align-items: flex-start;
    }

    .right-section {
        width: 35%;
    }
  }
}
