$accent-color: #7b5dff;

.charity-page {
	width: 100%;
	min-height: calc(100vh - 58px);
	padding: 30px;

	.charity-header {
		display: flex;
		justify-content: space-around;

		img {
			width: 25%;
			// height: ;
		}

		.charity-summary {
			width: 40%;
		}

		.charity-actions {
			width: 25%;

			*{
				display: block;
				margin-top: 20px;
			}

			button{
				border: none;
		    outline: none;
				width: 100%;
				padding: 13px 0;
				font-size: 16px;
				color: white;
				background-color: $accent-color;
			}

			.monthly-dontation-link{
				width: 100%;
				text-align: center;
				text-decoration: none;
			}
		}
	}

	.charity-container{
		display: flex;
		padding: 15px;

		.column{
			flex: 1;
			padding: 15px;
		}

		.inner-column{
			display: flex;
			width: 100%;

			.column-section{
				width: 100%;
				border: 1px solid black;
				height: 100px;
				padding: 10px;
			}
		}

		.title-tile{
			background-color: #fff;
			height: 100px;
		}
	}
}
