$accent-color: #7b5dff;

.charity-page {
	width: 100%;
	min-height: calc(100vh - 58px);
	padding: 30px;
	background-color: #f5f5f5;

	.charity-header {
		display: flex;
		justify-content: space-around;

		img {
			width: 25%;
			// height: ;
		}

		.charity-summary {
			width: 40%;
		}

		.charity-actions {
			width: 25%;

			*{
				display: block;
				margin-top: 20px;
			}

			button{
				border: none;
		    outline: none;
				width: 100%;
				padding: 13px 0;
				font-size: 16px;
				color: white;
				background-color: $accent-color;
			}

			.monthly-dontation-link{
				width: 100%;
				text-align: center;
				text-decoration: none;
			}
		}
	}

	.charity-container{
		display: flex;
		padding: 15px;

		.title-tile{
			background-color: #fff;
			padding: 14px;

			h3{
				margin-bottom: 13px;
			}

			p{
				font-size: 18px;
			}

			a{
				display: block;
				text-decoration: none;
				font-size: 15px;
			}
		}

		.column{
			flex: 1;
		}

		.inner-column{
			display: flex;
			width: 100%;

			.column-section{
				width: 100%;
				padding: 10px;
			}
		}


	}
}
