.charity-page {
	width: 100%;
	min-height: calc(100vh - 58px);
	background-color: #999;
	padding: 30px;

	.charity-header {
		display: flex;
		justify-content: space-around;

		img {
			width: 25%;
			// height: ;
		}

		.charity-summary {
			width: 40%;
		}

		.charity-actions {
			width: 25%;
		}
	}
}