
.hero {
	width: 100%;
	height: 500px;
	padding-bottom: 50px;
	background-color: #aaa;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	.captions {
		border: 1px solid black;
		width: 60%;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		height: 200px;
		padding: 20px 0;

		.call-to-action {
			background-color: #777;
			width: 40%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 0;
			color: black;
			text-decoration: none;
		}
	}
}


.featured-members {
	width: 100%;
	padding: 10px 0;
	background-color: #c48;
	display: flex;
	flex-flow: column;
	align-items: center;

	h2 {
		display: flex;
	}

	.members-list {

		.member-preview {
			
		}
	}
}