.new-member-form-cover-photo {
	padding: 20px;
	display: flex;
	justify-content: space-around;

	img {

	}

	.controls {
		display: flex;
		width: 40%;
		flex-direction: column;

		* {
			flex-shrink: 1;
		}

		p {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	input {
		margin-bottom: 20px;
	}

	.submit-button {
		width: 60%;
		height: 50px;
		background-color: #8149ED;
		color: #fff;
		border: none;
		font-size: 1.2em;

		&:hover {
			cursor: pointer;
		}
	}
}