$height: calc(100vh - (118px));

.cd-members-new {
	display: flex;
	flex-direction: column;
	padding: 20px;
	height: $height;
	overflow-y: scroll;

	* {
		flex-shrink: 0;
	}

	.header {
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.draft-tab {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: gold;
			color: white;
			height: 40px;
			width: 80px;
			border-radius: 5px;
		}
	}

	.new-member-nav {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		overflow: hidden;
		width: 90%;
		border-radius: 5px;
		margin-bottom: 30px;

		.nav-button {
			width: 25%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 75px;
			padding-left: 10px;

			span {
				width: 60%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&:hover {
				cursor: pointer;
			}

			&.selected {
				background-color: #8149ED;
				position: relative;
				color: white;

				&::after {
				  content: '';
				  width: 0px;
				  height: 0px;
				  background-color: #8149ED;
				  border-top: 40px solid white;
				  border-left: 15px solid #8149ED;
				  border-bottom: 40px solid white;
				  position: absolute;
				  right: -15px;
				  top: 0;
				}

				&::before {
				  content: '';
				  width: 0px;
				  height: 0px;
				  background-color: #ccc;
				  border-top: 40px solid #8149ED;
				  border-left: 15px solid white;
				  border-bottom: 40px solid #8149ED;
				  position: absolute;
				  left: 0;
				  top: 0;
				}

				&:first-child {
					&::before {
						border: none;
					}
				}
			}
		}
	}
}