$border: 1px solid #eaeaea;

.comment {
	margin-bottom: 20px;
	border: $border;
	padding: 20px;
	position: relative;
	border-radius: 4px;
	background-color: #fff;

	&::before {
		position: absolute;
		top: -21px;
		left: 39px;
		content: '';
		height: 20px;
		border-right: 2px solid #666AF6;
	}

	// ::after {
	// 	position: absolute;
	// 	bottom: -21px;
	// 	left: 39px;
	// 	content: '';
	// 	height: 20px;
	// 	border-right: 2px solid #888;
	// }


	.comment-header {
		display: flex;
		flex-flow: row wrap;
		// justify-content: space-between;
		margin-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		// margin-top: 19px;


		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin-right: 15px;
		}


		.header-details {
			width: 70%;
			height: 40px;
			display: flex;
			align-items: space-around;
			flex-wrap: wrap;
			margin-top: 6px;

			h4 {
				width: 100%;
				font-size: 1.2em;
				font-weight: 300;
				color: #686868;

				span {
					color: #383b3f;
					font-weight: 400;
				}
			}

			p {
				width: 100%;
				margin-top: 0.3em;
				font-size: 0.9em;
				font-weight: 400;
			}
		}
		
	}
	.comment-content {
		position: relative;
		// width: 90%;
		display: inline-block;
		// align-items: flex-start;
		// justify-content: center;
		padding-left: 1em;
		padding-right: 1em;
		line-height: 1.4;
		// width: 95%;
		// min-height: 20px;
		// height: 100%;
		// border: solid 1px black;
		font-size: 1.1em;
		font-weight: 300;
		color: #686868;
		margin-top: 0.7em;
		height: auto;

		// flex-direction: column;

		&::before {
			// left: 0;
			position: absolute;
			// bottom: 10%;
			left: 0;
			padding-right: 0.2em;
			margin-left: -0.1em;
			font-size: 2.5em;
			font-weight: 200;
			color: #777777;
			content: '“';
		}

		&::after {
			// bottom: 0;
			position: absolute;
			
			right: 0;
			top:0;
			padding-left: 0.2em;
			font-weight: 200;
			font-size: 2.5em;
			color: #777777;
			content: '”';
		}
	}
}