	.charity-dashboard-organisation-details {
		padding: 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #aaa;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }

}