$button-color: #666AF6;
// $button-color: #925ebc;

.member-preview {
	width: 30%;
	background-color: #fff;
	border-radius: 7px;
	position: relative;
	display: flex;
	flex-direction: column;

	.matched-icon{
		position: absolute;
		z-index: 2;
		right: -10px;
		top: -10px;

		img {
			width: 70px;
			height: 70px;
		}
	}

	.member-link {
		text-decoration: none;
	}

	.member-photo-container{
		width: 100%;
		height: 300px;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		overflow: hidden;

		img{
			width: 65px;
			height: 65px;
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
		}

		.overflow-container{
			overflow: hidden;
			position: relative;
			height: 100%;

			.completed-banner {
				position: absolute;
				font-size: 0.68em;
				z-index: 2;
				width: 200px;
				text-transform: uppercase;
				top: 25px;
				left: -60px;
				background-color: $button-color;
				transform: rotate(-45deg);
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 30px;
			}

	 		.member-photo {
				display: block;
	  		width: 100%;
	 			height: 100%;
	 			object-fit: cover;
	 			object-position: 50% 50%;

	 			&:hover {
	 				transition: 0.4s ease;
	 				transform: scale(1.05);
	 			}
	 		}
		}
	}

	.member-information {
		padding: 25px;
	}

	.member-link {
		color: #333333;
	}

	.member-name {
		text-decoration: none;
		margin-bottom: 5px;
		font-weight: 400;
		font-size: 20px;

		&:hover {
			text-decoration: underline;
		}
	}

	.member-location {
		margin-bottom: 10px;
		text-transform: italic;
		font-size: 0.8em;
		font-weight: 300;
		color: #999;

		i {
			margin-right:4px;
		}
	}

	.member-description {
		height: 45px;
		font-size: 1em;
		overflow: hidden;
		font-weight: 300;
  	text-overflow: ellipsis;
  	color: #686868;
  	margin-bottom: 10px;
	}

	.member-verification {
		font-size: 0.7em;
		text-transform: italic;
		font-size: 0.8em;
		font-weight: 300;
		color: #999;

		.charity-link {
			color: #999;
			text-decoration: underline;

			&:hover {
				color: #57B3F4;
			}
		}

		i {
			margin-right: 4px;
			font-size: 1.1em;
		}
	}

	.donation-details {
		padding-top: 20px;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		margin-bottom: 20px;
  	color: #686868;

		.progress-details {
			display: flex;
			font-weight: 300;

			.member-progress {
				width: 50%;
				padding-right: 25px;

				.progress-percentage {
					// color: darken(gold, 10);
				}

				.progress-label {
					font-size: 0.55em;
					font-weight: 300;
				}
			}

			.member-goal {
				width: 50%;
				border-left: solid 1px #7b5dff;
				padding-left: 10px;

				.goal-amount {

				}

				.goal-label {
					font-size: 0.55em;
					font-weight: 300;
				}
			}


		}

		.donate-button {
			background-color: #fff;
			width: 40%;
			border: 1.25px solid $button-color;
			color: $button-color;
			font-size: 0.8em;
			font-weight: 300;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			transition-duration: 0.2s;
			text-decoration: none;


			&:hover {
				background-color: $button-color;
				color: #fff;
				cursor: pointer;

			}
		}

	}
	.member-donations {
		font-weight: 300;
	}

	.member-images {
		padding-top: 7px;
		display: flex;
		align-items: center;

		img {
			height: 22px;
			padding-right: 5px;
		}

		p{
			font-size: 1em;
			font-weight: 300;
			color: #686868;
		}
	}

	@media (max-width: 900px) {
		.member-information {
			padding: 10px;
		}
	}

	@media (max-width: 800px) {
		width: 33%;
		.member-information {
			padding: 5px;
		}
	}

	@media (max-width: 720px) {
		width: 50%;
		margin-right: 0;
		margin-bottom: 25px;
	}

	@media (max-width: 540px) {
		width: 80%;
	}

	@media (max-width: 400px) {
		width: 95%;
	}
}

.member-previews-one-column{
	width: 80%;
}

.member-previews-two-column{
	width: 45%;
}

// .member-previews-three-column{
// 	width: 30%;
// }
