.new-member-form-review-launch {
	p {
		margin-bottom: 30px;
	}
	.submit-button {
		width: 60%;
		height: 50px;
		background-color: #8149ED;
		color: #fff;
		border: none;
		font-size: 1.2em;

		&:hover {
			cursor: pointer;
		}
	}
}