.featured-member-controller{
	display: flex;
	height: 116px;
	width: 100%;

	.title{
		flex: 1;

		h3{
			display: flex;
			height: 100%;
			text-align: center;
			align-items: center;
		}
	}

	.featured-member-controller-element{
	  flex: 1;
	  padding: 5px;
	  text-align: center;

		.del-div{
			height: 18px;
			display: flex;
			justify-content: flex-end;
		}

		.content-div{
			height: 90%;
		}

		.feat-member-name{
			height: 10%;
		}
	}
}
