$border: 1px solid #eaeaea;

@mixin flex-column {
	display: flex;
	flex-direction: column;
}
.comment-section {
	@include flex-column;
	width: 95%;

	h3 {
		margin-bottom: 20px;
	}

	.make-comment {
		@include flex-column;
		background-color: white;
		width: 100%;
		padding: 40px;
		border-radius: 8px;
		border: $border;
		margin-bottom: 20px;


		label {
			margin-bottom: 10px;
		}

		textarea {
			margin-bottom: 10px;
			height: 80px;
			resize: none;
		}

		button {
			height: 40px;
			width: 80px;
			margin-bottom: 50px;
		}
	}

	.comment-list {
		@include flex-column;
		width: 100%;
	}
}