$border: 1px solid #eaeaea;

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

.make-comment {
	@include flex-column;
	background-color: white;
	width: 95%;
	padding: 40px;
	border-radius: 8px;
	border: $border;

	h3 {
		margin-bottom: 20px;
	}

	label {
		margin-bottom: 10px;
	}

	textarea {
		margin-bottom: 10px;
		height: 80px;
	}

	button {
		height: 40px;
		width: 80px;
		margin-bottom: 50px;
	}
}