$accent-color: #7b5dff;
$general-text-color: #686868;

.help-someone-page{
	width: 100%;
	min-height: calc(100vh - 58px);
	padding: 20px 230px;
	background-color: #f5f5f5;

	h2{
		color: #333333;
		font-size: 40px;
		margin: 30px 0 50px 0;
	}

	.intro-paragraph{
		font-size: 20px;
		margin-bottom: 40px;
		color: $general-text-color;
	}

	.location-filter-container{
		max-width: 270px;
		border: 3px solid $accent-color;
		padding: 10px;
		color: $accent-color;
		cursor: pointer;
		user-select: none;

		span{
			margin-right: 150px;
			font-weight: 500;
		}

		.custom-arrow{
			font-weight: lighter;
			font-size: 25px;
		}
	}
}
