	$giving-web-purple: #7267ee;
	$border: 1px solid #eaeaea;
	$light-grey-color: #686868;

.member-show-page {
	
	width: 100%;
	display: flex;
	background-color: #fcfcfc;
	font-family: Montserrat, sans-serif;

	.main-wrapper {
	width: 1170px;
	// padding: 0 10%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0 auto;
	padding-bottom: 50px;
	}

	.header {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 230px;
		padding: 30px;

		h2 {
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			font-size: 2.5em;
			font-weight: 300;
			width: 60%;
			text-align: center;
		}

		h3 {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $giving-web-purple;
			font-size: 1em;

			font-weight: 300;

			.verified-charity-link {
				color: $giving-web-purple;
				padding-left: 3px;

				&:hover {
					color: darken($giving-web-purple, 10);
				}
			}

			i {
				// width: 30px;
				margin-right: 3px;
				font-size: 1.1em;

			}
		}
	}

	.left-section {
		display: flex;
		width: 65%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.member-details {
			display: flex;
			flex-direction: column;
			background-color: white;
			width: 95%;
			margin-bottom: 50px;
			border-radius: 5px;
			border: $border;
			position: relative;
			padding: 30px;
			// margin-right: 8%;

			.member-image-basic-info {

				display: flex;
				flex-direction: column;
				width:100%;
				position: relative;

				img {
			 		width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.linear-gradient {
					position: absolute;
					bottom:0;
					width: 100%;
					height: 60%;
					background: linear-gradient(360deg, rgba(10, 10, 10, 0.6), rgba(250, 250, 250, 0));
				}

				.member-photo-container{
					height: auto;
				}

				.member-photo{
					width: 100%;
					min-height: 400px;
					margin-bottom: 20px;
				}

				.member-photo-text-container{

					position: absolute;
					color: #fff;
					left: 0;
					bottom: 0;
					margin: 30px 35px;

					h3{
						font-size: 2em;
						font-weight: 300;
					}
					
					p{
						font-size: 1.2em;
						font-weight: 300;
						text-transform: capatalize;
						margin-top: 4px;
					}

					.fa-icon{
						margin-right: 8px;
						font-size: 20px;
					}

					.member-tags{
						display: flex;
						padding-top: 4px;
						justify-content: flex-start; 
						align-items: center;

						a{
							font-size: 0.9em;
							font-weight: 300;
							color: #fff;

							&:hover {
								color: lighten(#7b5dff,5);
							}
						}

						.member-tag{
							margin-right: 5px;
						}
					}
				}

			}

			.social-media {
				display: flex;
				// justify-content: space-between;
				width: 100%;
				// margin-bottom: 20px;
				margin-top: 8px;

				input {
					width: 900px;
					outline: none;
					focus: none;
					padding-left: 40px;


				}

				button {
					padding: 5px 13px; 
					height: 34px;
					border: none;
					color: #fff;
					font-weight: 300;
					font-size: 1em;
					font-family: Montserrat, sans-serif;
					border-radius: 3px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					outline: none;
					margin-right: 5px;
					transition-duration: 0.2s;
					width: 95px;
					text-align: center;
					// text-transform: uppercase;

						&:hover {

							box-shadow: 0.25px 0.25px 0.25px 1px darken(#f5f5f5, 15);
						}

					i {
						font-size: 1.1em;
						margin-right: 5px;
					}

					&.facebook {
					background-color: #425A93;

							background-color: darken(#425A93, 6);
						&:hover {
						}
					}

					&.twitter {
					background-color: #4CA0EC;

						&:hover {
							background-color: darken(#4CA0EC, 6);
						}
					}
					&.google-plus {
					background-color: #CD5643;

						&:hover {
							background-color: darken(#CD5643, 6);
						}
					}

					&.widgets {
					background-color: #c6c6c6;
					font-size: 0.9em;

						i {
							font-size: 1.1em;
						}

						&:hover {
							background-color: darken(#c6c6c6, 6);
						}
					}

				}
			}

			.share-message {
				display: flex;
				margin-left: 70px;
				align-items: flex-end;
				// justify-content: center;
				font-weight: 300;
				// color: #686868;
				color: #7267ee;


				h3 {
					font-size: 30px;
				}

				p {
					padding-bottom: 7px;
					margin-left: 10px;
					cursor: pointer;

					&:hover {
						color: darken(#7267ee, 10);
						text-decoration: underline;
					}
				}
			}

			.loaded-story {
				
				margin-bottom: 25px;

				strong {
					font-weight: 400;
				}

				h3 {
					margin-top: 20px;
					margin-bottom: 20px;
					font-size: 1.5em;
					font-weight: 400;
				}

				span {
					margin-bottom: 20px;
					font-size: 1.1em;
					font-weight: 300 !important;
					color: $light-grey-color;
					line-height: 1.5;
				}

			}

		}

		.make-comment {
			display: flex;
			flex-direction: column;
			background-color: white;
			width: 95%;
			padding: 40px;
			border-radius: 8px;
			border: $border;


			h3 {
				margin-bottom: 20px;
			}

			label {
				margin-bottom: 10px;
			}

			textarea {
				margin-bottom: 10px;
				height: 80px;
			}

			button {
				height: 40px;
				width: 80px;
				margin-bottom: 50px;
			}
		}
	}

	.right-section {
		width: 35%;

		.donation-section {
			background-color: white;
			width: 100%;
			padding: 30px;
			border-radius: 8px;
			border: $border;

			h4 {
				font-size: 2.2em;
				font-weight: 400;
				display: flex;
				align-items: center;
				height: 40px;
			}

			h2 {
				margin-top: 4px;
				font-size: 1.1em;
				font-weight: 300;
				// text-transform: uppercase; 
				color: lighten($light-grey-color, 20);
			}

			p {
				height: 30px;
				margin-bottom: 30px;
			}

			.member-progress-bar {
				width: 100%;
				height: 10px;
				border-radius: 5px;
				background-color: #ddd;
				overflow: hidden;
				margin-bottom: 10px;
				margin-top: 25px;

				.bar-fill {
					height: 10px;
				}
			}

			.progress-summary {
				// width: 100%;
				display: flex;
				flex-flow: row nowrap;

				p {
					// width: 50%;
					// padding: 10px;
					display: flex;
					align-items: flex-start;
					height: 20px;
					font-size: 0.9em;
					// padding: 0px 5px;
					text-transform: uppercase;
					font-weight: 300;
					color: lighten($light-grey-color, 5);
					padding-right: 5px;



					&:first-child {
						border-right: solid 2px $giving-web-purple;
					}

					&.supporters-text {
						padding-left: 5px;
					}
				}
			}

			.donation-controls {
				margin-bottom: 20px;
				border-bottom: 1px solid #bbb;

				h4 {
					margin-bottom: 10px;
					font-weight: 400;
				}

				select {
					width: 100%;
					height: 50px;
					border: 4px solid black;
					font-size: 1.2em;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.support-checkbox {
					display: flex;
					align-items: center;
					width: 100%;
					height: 60px;

					input {
						height: 20px;
						width: 20px;
						margin: 0 15px;
					}
				}
			}

			.message-controls {
				width: 100%;
				display: flex;
				flex-direction: column;
				margin-bottom: 30px;

				label {
					margin-bottom: 10px;
				}

				textarea {
					height: 80px;
					margin-bottom: 20px;
				}

				.name-hide {
					display: flex;
					flex-flow: row nowrap;

					input {
						width: 20px;
						height: 20px;
						margin: 0 15px;
					}

					label {

					}
				}
			}

			.donate-button {
				width: 100%;
				height: 50px;
				border-radius: 5px;
				border: none;
			}
		}
	}
}
