	$giving-web-purple: #7267ee;

.member-show-page {
	
	width: 100%;
	display: flex;
	background-color: #F4F4F4;

	.main-wrapper {
	width: 1170px;
	// padding: 0 10%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0 auto;
	padding-bottom: 50px;
	}

	.header {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 230px;
		padding: 30px;

		h2 {
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			font-size: 2.5em;
			font-weight: 300;
			width: 60%;
			text-align: center;
		}

		h3 {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $giving-web-purple;
			font-size: 1em;

			font-weight: 300;

			.verified-charity-link {
				color: $giving-web-purple;
				padding-left: 3px;

				&:hover {
					color: darken($giving-web-purple, 10);
				}
			}

			i {
				// width: 30px;
				margin-right: 3px;
				font-size: 1.1em;

			}
		}
	}

	.left-section {
		width: 65%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.member-details {
			padding: 40px;
			background-color: white;
			width: 90%;
			margin-bottom: 50px;
			border-radius: 8px;
			border: 1px solid #ccc;

			.member-photo-container{
				height: auto;
			}

			.member-photo{
				width: 100%;
				min-height: 400px;
				margin-bottom: 20px;
			}

			.member-photo-text-container{
				position: relative;
				color: #fff;
				height: 0;
				left: 30px;
				bottom: 120px;

				h3{
					font-size: 25px;
				}
				
				p{
					font-size: 20px;
				}

				.fa-icon{
					margin-right: 8px;
					font-size: 20px;
				}

				.member-tags{
					display: flex;

					a{
						font-size: 20px;
						color: #fff;
					}

					.member-tag{
						margin-right: 10px;
					}
				}
			}

			.social-media {
				display: flex;
				justify-content: space-between;
				width: 70%;
				margin-bottom: 50px;

				button {
					width: 80px;
					height: 35px;
					border: none;

				}
			}

			.loaded-story {
				h3 {
					margin-top: 40px;
					margin-bottom: 20px;
				}

				span {
					margin-bottom: 40px;
				}
			}

		}

		.make-comment {
			display: flex;
			flex-direction: column;
			background-color: white;
			width: 90%;
			padding: 40px;
			border-radius: 8px;
			border: 1px solid #ccc;


			h3 {
				margin-bottom: 20px;
			}

			label {
				margin-bottom: 10px;
			}

			textarea {
				margin-bottom: 10px;
				height: 80px;
			}

			button {
				height: 40px;
				width: 80px;
				margin-bottom: 50px;
			}
		}
	}

	.right-section {
		width: 35%;

		.donation-section {
			background-color: white;
			width: 100%;
			padding: 40px;
			border-radius: 8px;
			border: 1px solid #ccc;

			h4 {
				font-size: 1.4em;
				display: flex;
				align-items: center;
				height: 40px;
			}

			p {
				height: 30px;
				margin-bottom: 30px;
			}

			.member-progress-bar {
				width: 100%;
				height: 10px;
				border-radius: 5px;
				background-color: #ddd;
				overflow: hidden;
				margin-bottom: 15px;

				.bar-fill {
					height: 10px;
				}
			}

			.progress-summary {
				// width: 100%;
				display: flex;
				flex-flow: row nowrap;

				p {
					// width: 50%;
					// padding: 10px;
					display: flex;
					align-items: center;
					height: 20px;
					font-size: 1em;
					padding: 0px 5px;
					text-transform: uppercase;
					dont-weight: 200;

					&:first-child {
						border-right: solid 2px $giving-web-purple;
					}
				}
			}

			.donation-controls {
				margin-bottom: 20px;
				border-bottom: 1px solid #bbb;

				h4 {
					margin-bottom: 10px;
					font-weight: 400;
				}

				select {
					width: 100%;
					height: 50px;
					border: 4px solid black;
					font-size: 1.2em;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.support-checkbox {
					display: flex;
					align-items: center;
					width: 100%;
					height: 60px;

					input {
						height: 20px;
						width: 20px;
						margin: 0 15px;
					}
				}
			}

			.message-controls {
				width: 100%;
				display: flex;
				flex-direction: column;
				margin-bottom: 30px;

				label {
					margin-bottom: 10px;
				}

				textarea {
					height: 80px;
					margin-bottom: 20px;
				}

				.name-hide {
					display: flex;
					flex-flow: row nowrap;

					input {
						width: 20px;
						height: 20px;
						margin: 0 15px;
					}

					label {

					}
				}
			}

			.donate-button {
				width: 100%;
				height: 50px;
				border-radius: 5px;
				border: none;
			}
		}
	}
}
