.comment-group {
	width: 100%;

	.group-date {
		position: relative;

		::before {
			position: absolute;
			top: -30px;
			left: 40px;
			content: '';
			height: 30px;
			border-right: 2px solid #888;
		}

		::after {
			position: absolute;
			bottom: -20px;
			left: 40px;
			content: '';
			height: 20px;
			border-right: 2px solid #888;
		}
	}
}