$border: 1px solid #eaeaea;

$light-grey-color: #686868;
$giving-web-purple: #666AF6;
$white: #ffffff;

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}


.donation-section {
	background-color: $white;
	width: 100%;
	padding: 30px;
	border-radius: 8px;
	border: $border;

	h4 {
		font-size: 2.2em;
		font-weight: 400;
		height: 40px;
	}

	h2 {
		margin-top: 4px;
		font-size: 1.1em;
		font-weight: 300;
		color: lighten($light-grey-color, 20);
	}

	p {
		height: 30px;
		margin-bottom: 30px;
	}

	.member-progress-bar {
		width: 100%;
		height: 10px;
		border-radius: 5px;
		background-color: #ddd;
		overflow: hidden;
		margin-bottom: 10px;
		margin-top: 25px;

		.bar-fill {
			height: 10px;
		}
	}

	.progress-summary {
		display: flex;
		flex-flow: row nowrap;

		p {
			display: flex;
			align-items: flex-start;
			height: 20px;
			font-size: 0.9em;
			text-transform: uppercase;
			font-weight: 300;
			color: lighten($light-grey-color, 5);
			padding-right: 10px;



			&:first-child {
				border-right: solid 2px $giving-web-purple;
			}

			&.supporters-text {
				padding-left: 10px;
			}
		}
	}

	.donation-controls {
		margin-bottom: 20px;
		border-bottom: 0.75px solid #dbdbdb;

		h3 {
			margin-bottom: 5px;
			font-weight: 300;
			font-size: 1em;
			text-transform: uppercase;
		}

		.support-checkbox {
			display: flex;
			align-items: center;
			width: 100%;
			height: 60px;

			input {
				height: 20px;
				width: 20px;
				margin: 0 8px;
			}

			label {
				display: flex;
				margin-bottom:5px;
				font-weight: 300;
				color: #686868;
			}
		}
	}

	.message-controls {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;

		label {
			margin-bottom: 10px;
			display: flex;
			margin-bottom:5px;
			font-weight: 300;
			color: #686868;
		}

		textarea {
			font-family: Montserrat, sans-serif;
			height: 80px;
			margin-bottom: 20px;
			outline: none;
			padding:9px;
			font-size: 0.9em;
			resize: none;
			font-weight: 300;
			background-color: #fcfcfc;
			border: 1px solid #dbdbdb;
			border-radius: 3px;

				&:focus {
					border-color: $giving-web-purple;

				}
		}

		.name-hide {
			display: flex;
			flex-flow: row nowrap;

			input {
				width: 20px;
				height: 20px;
				padding-left: 2px;
			}

			label {

				display: flex;
				padding-bottom:3px;
				font-weight: 300;
				color: #686868;
			}
		}
	}

	.donate-button {
		text-decoration: none;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 13px 15px;
		background-color: lighten($giving-web-purple,5);
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.3em; 
		margin-bottom: 15px;
		transition-duration: 0.2s;
		border: solid 1.5px lighten($giving-web-purple,5);
		width: 100%;
		border-radius: 4px;
		outline: none;
		cursor: pointer;

		&:hover {
			background-color: $giving-web-purple;
			color: #fff;
		}
	}
}