.partners-page {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0 auto;
	padding-bottom: 50px;
	background-color: #F4F4F4;


	p {
		color: #686868;
	}


	h3 {
		color: #383b3f;
	}

}
