.terms-and-privacy {
	display: flex;
  text-align: center;
	flex-direction: column;
	width: 100%;
	margin-left: 7px;
	margin-top: 7px;
	align-items: center;

}

.content {
	width: 60%;

  h2 {
    margin: 19px;
  }

	p {
		margin: 16px;
	}
}
