$giving-web-purple: #7267ee;
$border: 1px solid #eaeaea;
$light-grey-color: #686868;
$extra-light-grey: #f4f4f4;
$white: #ffffff;

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

.payment-page {	
	width: 100%;
	display: flex;
	background-color: #f4f4f4;
	font-family: Montserrat, sans-serif;

	.main-wrapper {
		width: 1170px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin: 0 auto;
		padding: 50px 0;

		.left-section {
			@include flex-column;
			width: 65%;
			display: flex;
			align-items: flex-start;

			.payment-details {
				@include flex-column;
				align-items: center;
				background-color: $white;
				width: 95%;
				margin-bottom: 50px;
				border-radius: 5px;
				border: $border;
				position: relative;
				padding: 30px;
			}
		}

		.right-section {
			width: 35%;

			.charge-details {
				background-color: $white;
				width: 100%;
				padding: 30px;
				border-radius: 8px;
				border: $border;
			}
		}
	}
}