$footer-color: #848484;

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0px 90px;
	background-color: #ffffff;
	font-size: 14px;

	.sitemap {
		width: 80%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 40px;
		border-bottom: 1px solid #9b9b9b;

		.footer-text-column {
			display: flex;
			flex-direction: column;
			font-weight: 200;

			p {
				margin-bottom: 3px;
				color: #848484;

			}
	
			.footer-link {
				margin-top: 7px;
				font-weight: 300;
				text-decoration: none;
				color: #444444;
				height: 20px;
				
				&:hover {
					color: #7663F6;
				}
			}			
		}

	}

	.other-info {
		padding: 10px;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.terms {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 15px 0;

			.terms-text {
				display: flex; 
				width: 33%;
				justify-content: center;
				font-weight: 300;
				color: $footer-color;
				text-align: center;

				i {
					padding: 0px 5px;
					color: #7e6bd6;
				}
			}
		}

		.social-media {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-evenly;
			align-items: center;
			height: 80px;
			width: 30%;
			font-size: 1.75em;
			color: #6d6d6d;
			color: $footer-color;
		
			.fa-facebook {	
				color: $footer-color;

				&:hover {
					color: #4a68ac;
				}
			}

			.fa-twitter {
				color: $footer-color;

				&:hover {
					color: #4CA0EC;
				}
			}

			.fa-instagram {			
				color: $footer-color;

				&:hover {
					color: #003569;
				}
			}

			.fa-youtube {
				color: $footer-color;

				&:hover {
					color: #EA3323;
				}
			}
		}
	}

	@media (max-width: 1125px) {
    padding: 0 40px;

    .sitemap {
    	width: 90%;
    	padding: 30px 30px;
    }
  }

  @media (max-width: 950px) {
    padding: 0 20px;

    .sitemap {
    	padding: 30px 10px;
    }
  }

  @media (max-width: 820px) {
  	padding: 0;

  	.sitemap {
  		flex-wrap: wrap;

  		width: 95%;

  		.footer-text-column {
				width: 40%;
				margin-bottom: 20px;
  		}
  	}

  	.other-info {
  		width: 95%;

  		.terms {
  			flex-direction: column;

  			.terms-text {
  				width: 100%;
  				margin-bottom: 10px;
  			}
  		}
  	}
  }

  @media (max-width: 550px) {
  	.sitemap {
			width: 100%;

  		.footer-text-column {
  			width: 50%;
  		}
  	}

  	.other-info {
  		width: 100%;
  	}
  }

	@media (max-width: 340px) {
  	.sitemap {
			
  		.footer-text-column {
  			width: 80%;
  		}
  	}
  }

}