.featured-member-controller-element{

	img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
  }

  .delete {
    cursor: pointer;
    max-width: 20px;
    margin-right: 5%;
    width: 19px;
    background-color: red;
    color: white;
    border-radius: 50px;
  }
}
