.care-button {
  z-index: 5;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;


  .care-count-wrapper{
    
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;


    p {
      margin-left: 8px;
      height: 33px;
      padding: 9px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // background-color: rgba(255, 255, 255, 0.1);
      background-color: #7267EE;          
      // background-color: #3f3f3f;
      color: darken(#f5f5f5, 5);
      font-weight: 200;
      z-index: 6;
      
    }


  }

  .care-count-square {
      position: absolute;
      height: 14px;
      width: 14px;
      transform: rotate(45deg); 
      background-color: #7267EE;
      // background-color: rgba(255, 255, 255, 0.1);
      z-index: 5;
      left: 0;
      margin-left: 2px;

  }

  button {
  background-color: rgba(255, 255, 255, 0.1);
  // border: solid 1px darken(#f5f5f5, 20);
  border:none;
  // width: 110px;
  display: flex;
  color: darken(#f5f5f5, 5);
  justify-content: center;
  align-items: center;
  font-weight: 300;
  padding: 7px 30px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: montserrat;
  outline: none;
  cursor: pointer;

  &:hover {
    
  color: #7267ee;
  background-color: #f5f5f5;
  }

   i {
    font-size: 1em;
    // padding-left: 5px;
    padding-right: 5px;
   }
  }
}