$giving-web-purple: #7267ee;

.search-dropdown {
	min-height: 60px;
	width: calc(100% - 60px);
	max-width: 470px;
	background-color: lighten($giving-web-purple, 10);
	position: absolute;
	border-radius: 5px;
  border: 0.75px solid lighten(#bbb, 30);
  overflow: hidden;

	// padding: 0 10px;

	.members-list {
		// padding: 10px 0;

		h4 {

		}
	}

	.charities-list {
		// padding: 10px 0;

		h4 {

		}
	}

	&.hidden {
		visibility: hidden;
	}

	@media (max-width: 1005px) {
		margin-left: 5%;
		width: 80%;
	}

	@media (max-width: 800px) {
		width: 90%;
		margin-left: 0;
	}

	@media (max-width: 565px) {
		margin-left: 2.5%;
		width: 85%;
	}
}
