$search-color: lighten(#9b9b9b, 30);
$search-border: 1px solid $search-color;


.menu-dropdown-wrapper {
  
  background-color: #ffffff;
  position: absolute;
  top: 0;
  margin-top: 67px;
  -webkit-transition: visibility 0.1s ease-in-out, margin-top 0.3s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 270px;
  // height: 270px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.09); 
  display: flex; 
  


    .tooltip {
      height: 13px;
      width: 13px;
      transform: rotate(45deg); 
      background-color: #ffffff;
      z-index: 6;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -7px;
      margin-left: 230px;


    }
}

.menu-dropdown {
  display: flex; 
  flex-flow: column;
  padding: 12px 0px;
  // background: grey;
  width: 100%;

    .menu-link-text {
      font-size: 15px;
      font-weight: 200;
      text-decoration: none;
      color: #666666;
      padding: 6px 0px 6px 20px;
      // height: 100%;

      &:hover {
        // text-decoration: underline;
        background-color: #7b5dff;
        color: #ffffff;
      }
    }

    div {
     border-top: $search-border; 
     padding-bottom: 7px;
     margin-top: 7px; 
    }
}

.visible-dropdown {
  
}

.hidden-dropdown {
  visibility: hidden;
  margin-top: 72px;
}


