.menu-dropdown-wrapper {
  
  background-color: #ffffff;
  position: absolute;
  top: 0;
  margin-top: 67px;
  -webkit-transition: visibility 0.1s ease-in-out, margin-top 0.3s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 300px;
  height: 270px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.09); 
  display: flex; 
  


    .tooltip {
      height: 13px;
      width: 13px;
      transform: rotate(45deg); 
      background-color: #ffffff;
      z-index: 6;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -7px;
      margin-left: 250px;


    }
}

.menu-dropdown {
  display: flex; 
  flex-flow: column;
  padding: 10px;
}

.visible-dropdown {
  
}

.hidden-dropdown {
  visibility: hidden;
  margin-top: 72px;
}


