.menu-dropdown-wrapper {
  width: 400px;
  height: 400px;
  background-color: yellow;
  position: absolute;
  top: 0;
  margin-top: 60px;
}

.menu-dropdown {

}

.visible-dropdown {
  
}

.hidden-dropdown {
  visibility: hidden;
}