$radius-size: 3px;
$search-color: #c9c9c9;
$search-border: 1px solid $search-color;
$search-border-focus: 1.4px solid #6898ff;

.navigation {
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.09); 
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;

	.content-wrapper {
		width: 100%;
		max-width: 1350px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// border: $search-border;
	}	

	.logo-search-wrapper {
		width: 60%;
		max-width: 800px;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		// border: $search-border;
	}	

	

	
 	 .search-bar:hover button.icon:hover{
	  background: white;
  }

	img {
		height:65%;
		padding: {
			left: 2%;
			right: 2%;
			} 
	}

	form {

		width: 500px;
		height: 40px;
		display: flex;
		justify-content: start;
		align-items: center;
	

		input {
	 		outline: none;
			vertical-align: middle;
			white-space: nowrap;
			border-bottom-left-radius: $radius-size;
			outline: none;
			padding: 0 5px;
	  	overflow: hidden;
		  width: 320px;
		  height: 30px;
		  background: white;
		  font-size: 10pt;
		  color: grey;
		  padding-left: 15px;
		 
			border: 0.5px solid $search-color;
			-webkit-border-top-left-radius: $radius-size;
			-webkit-border-bottom-left-radius: $radius-size;
			-moz-border-radius-topleft: $radius-size;
			-moz-border-radius-bottomleft: $radius-size;
			border-top-left-radius: $radius-size;
			-webkit-transition: width 0.4s ease-in-out;
			transition: width 0.4s ease-in-out;

			&::placeholder {
				color: $search-color;
			}

			&:focus {
				width: 470px;
				border: {
					top: $search-border-focus;
					left: $search-border-focus;
					bottom: $search-border-focus;
					right: $search-border-focus;
				}
			}

			&:focus + .search-icon{
		  	color: #d3d3d3;
				border: {
					top: $search-border-focus;
					right: $search-border-focus;
					bottom: $search-border-focus;
				}
			}
		}

		.search-icon{
		  -webkit-border-top-right-radius: $radius-size;
		  -webkit-border-bottom-right-radius: $radius-size;
		  -moz-border-radius-topright: $radius-size;
		  -moz-border-radius-bottomright: $radius-size;
		  border-top-right-radius: $radius-size;
		  border-bottom-right-radius: $radius-size;
		 
		  border: none;
		  background-color: #ffffff;
		  color: $search-color;
		  height: 30px;
		  width: 60px;
		  font-size: 11pt;
		  border: {
		  	top: $search-border;
		  	right: $search-border;
		  	bottom: $search-border;
		  	}
		  
		  -webkit-transition: all .55s ease;
		  -moz-transition: all .55s ease;
		  -ms-transition: all .55s ease;
		  -o-transition: all .55s ease;
		  transition: all .55s ease;
		  outline: none;
		  cursor: pointer;

		  &:hover{
		  	background-color: #f4f4f4;
		  	color: #5a5a5a;
		  }		
		}
	}

	nav {
		width: 20%;
		display: flex;
		justify-content: space-between;
	}
}
