$height: calc(100vh - (58px));

.charity-dashboard {
	width: 100%;
	display: flex;
	justify-content: center;

	.main-section {
		min-height: $height;
		width: 90%;
		display: flex;

		.dashboard-current-page {
			height: $height;
			width: 80%;
			background-color: red;
			
			.breadcrumbs {
				padding: 10px;
				width: 100%;
				height: 60px;
				background-color: green;
				display: flex;
				align-items: center;
			}
		}

	}
}