$height: calc(100vh - (58px));

.charity-dashboard {
	width: 100%;
	display: flex;
	justify-content: center;

	.main-section {
		min-height: $height;
		width:100vw ;
		max-width: 1220px;
		display: flex;
		overflow: hidden;

		

	}
}