@import '../../../fonts', '../../../colors';

$select-color: #8A8DF9;

.donation-select {
	position: relative;
	width: 100%;
	height: 50px;

	&:hover {
		cursor: pointer;
	}

	.placeholder {
		width: 100%;
		height: 50px;
		border: 2px solid $select-color;
		padding: 0 10px;
		font-size: 1.2em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $select-color;

		input {
			border: none;
			width: 80%;
			height: 42px;
			font-size: 1em;
			font-family: $main-font;
			color: $main-text-color;

			&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
				-webkit-appearance: none;
		    margin: 0;
			}

			&:focus {
				outline: none;
			}
		}

		i {
			width: 10%;
		}
	}

	.options {
		position: absolute;
		top: 50px;
		left: 0;
		width: inherit;
		list-style: none;
		background-color: $select-color;
		transition: opacity 0.2s;

		.option {
			width: 100%;
			height: 50px;
			display: flex;
			align-items: center;
			padding-left: 15px;
			color: #fff;

			&:hover {
				background-color: #666AF6;
			}
		}
	}

	.real-select {
		visibility: hidden;
	}
}