$accent-color: #7b5dff;
$general-text-color: #686868;

.charity-page {
	width: 100%;
	// min-height: calc(100vh - 58px);
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;

	
	.charity-hero {
		width: 1300px;
		height: 450px;
		background-color: #aaa;
		// background: linear-gradient(360deg, rgba(30, 30, 30, 0.6), rgba(40, 40, 40, 0)),
		//     url('../../../build/images/streetworkbanner.jpg');
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-position: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// z-index: 4;
		position: relative;

		.charity-banner-wrapper {
			position: absolute;
			top: 0;
			// z-index: 6;
			width: 100%;
			height: 100%;
			overflow: hidden;

		}
		.charity-banner {
			// z-index: 5;
			width:100%;
			position: absolute;
			top: -9999px;
			bottom: -9999px;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;
		}

		.linear-gradient {
			background: linear-gradient(360deg, rgba(30, 30, 30, 0.6), rgba(40, 40, 40, 0));
			width: 100%;
			height: 100%;
			position: absolute;

		}

		
		.charity-logo {
			width: 250px;
			height: 250px;
			border-radius: 50%;
			border: solid 4px #fff;
			box-shadow: 0.5px 1px 8px 0.5px #888888;
			z-index: 5;
		}

		h2 {
			font-size: 1.5em;
			font-weight: 300;
			padding-bottom:4px;
			padding-top:18px;
			width: 95%;
			display: flex; 
			align-items: center;
			justify-content: center;
			color: #ffffff;
			z-index: 5;

		}

		h3 {
		  font-size: 1.15em;
		  font-weight: 300;
		  padding-bottom:4px;
		  // padding-top:3px;
		  width: 95%;
		  display: flex; 
		  align-items: center;
		  justify-content: center;
		  color: #ffffff;
			z-index: 5;


		  i {
		  	padding-right: 6px;
		  }
		}
		

		.social-media-container {
			padding-top: 20px;
			// width: 140px;
			height: 35px;
			display: flex;
			justify-content: space-evenly;
			z-index: 5;
			
			i {
			font-size: 1.6em;
			margin: 8px;
			z-index: 5;


			}
		
			.fa-facebook {
				color: #4a68ac;

				&:hover {
					font-size: 1.7em;
				}
			}

			.fa-twitter {
				color: #4CA0EC;

				&:hover {
					font-size: 1.7em;
				}
			}

			.fa-globe {
				color: #f5f5f5;

				&:hover {
					font-size: 1.7em;
				}
			}
		}

	}

	.about-us-scroller {
		
  	background-color: rgba(15, 15, 15, 0.2);
		color: darken(#f5f5f5, 15);
		font-weight: 300;
		text-decoration: none;
		border-radius: 4px;
		font-size: 16px;
		font-family: montserrat;
		outline: none;
		cursor: pointer;
		border: solid 1px rgba(255, 255, 255, 0);
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 15px 20px;
		height: 33px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 130px;

		&:hover {
		  
		// color: #7267ee;
		// background-color: #f5f5f5;
		background-color: rgba(5, 5, 5, 0.3);
		border: solid 1px #4b4b4d;

		}

		 i {
		  font-size: 1.5em;
		  // padding-left: 5px;
		  padding-left: 5px;
		 }
	

	}


	.charity-info-container {
		display:flex;
		width: 100%;
		max-width: 1300px;
		background-color: #f5f5f5;
		margin-top: 20px;

		.charity-image-total-wrapper {
			display: flex;
			flex-direction:column;
			width: 30%;
			justify-content: center;
			align-items: center;


			img {
			    width: 110px;
			    height: 110px;
			    // border-radius: 50%;
			    border: solid 2px #fff;
			    box-shadow: 0.5px 1px 4px 0.25px #888888;
			    z-index: 1;
			    // margin: 5px;
			  }

			h3 {
			  font-size: 1.15em;
			  font-weight: 300;
			  // color: darken(#fff, 10);
			  // text-transform: uppercase;
			  padding-bottom:4px;
			  padding-top:3px;
			  width: 95%;
			  display: flex; 
			  align-items: center;
			  justify-content: center;
			}

			p {
			  
			  &.charity-number {
			    font-size: 0.8em;
			    font-weight: 300;
			    padding-bottom: 5px;
			    width: 100%;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			  	border-bottom: 0.5px solid darken(#f5f5f5, 3%);
			    
			  }
			  &.amount-raised {
			    color: #7267EE;
			    font-size: 1.8em;
			    font-weight: 300;
			    padding-top: 6px;
			  }

			  &.amount-raised-text {
			    font-size: 0.8em;
			    font-weight: 300;
			    padding-bottom: 15px;
			    
			  }

			}

			button {
				text-decoration: none;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 280px;
				height: 42px;
				text-transform: uppercase;
				font-weight: 300; 
				margin-bottom: 15px;
				transition-duration: 0.2s;
				font-size: 1em;
				font-family: Montserrat;
				cursor: pointer;
			}

			.fundraise-button {
				
				background-color: #619fe6;
				border: solid 1.5px #619fe6;

				&:hover {
					background-color: darken(#619fe6,5);

				}
			}

			.donate-button {
				
				background-color: #7663f6;
				border: solid 1.5px #7663f6;

				&:hover {
					background-color: darken(#7663f6,4);
				}
			}
		}

		.charity-description-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 40%;

			h3 {
				font-weight: 400;
				width: 100%;
				margin-bottom: 5px;
				margin-top: 10px;
				display: flex;
				justify-content: center;
				font-size: 1.3em;

			}

			p {
				font-size: 1.1em;
				padding-top: 5px;
				font-weight: 300;
				width: 100%;
				display: flex;
				justify-content: center;
				display: flex;
			}
		}
	}

		// .giving-levels-container {
		// 	display: flex;
		// 	width: 100%;
		// 	max-width: 1300px;
		// 	margin-top: 10px;
		// 	justify-content: space-evenly;


		// 	.giving-card {
		// 		width: 19%;
		// 		display: flex;
		// 		flex-direction: column;
		// 		justify-content: center;
		// 		background-color: #c0b2ff;
		// 		border-radius: 5px;

		// 		p {
		// 			padding: 15px;
		// 		}
		// 	}
		// }
		// button {
		// 	


		// 		&:hover {
		// 			background-color: darken(#ff6200, 5);
		// 		}

	// .charity-header {
	// 	width: 1300px;

	// 	display: flex;
	// 	justify-content: space-around;

	// 	img {
	// 		width: 25%;
	// 		// height: ;
	// 	}

	// 	.charity-summary {
	// 		width: 40%;
	// 		font-size: 18px;
	// 		color: $general-text-color;
	// 	}

	// 	.charity-actions {
	// 		width: 25%;

	// 		*{
	// 			display: block;
	// 			margin-top: 20px;
	// 		}

	// 		button{
	// 			border: none;
	// 	    outline: none;
	// 			width: 100%;
	// 			padding: 13px 0;
	// 			font-size: 16px;
	// 			color: white;
	// 			background-color: $accent-color;
	// 		}

	// 		button:hover{
	// 			background-color: darken($accent-color, 5);
	// 		}

	// 		.monthly-dontation-link{
	// 			width: 100%;
	// 			text-align: center;
	// 			text-decoration: none;
	// 		}

	// 		.monthly-dontation-link:hover{
	// 			text-decoration: underline;
	// 		}
	// 	}
	// }

	// .charity-container{
	// 	display: flex;
	// 	padding: 15px;

	// 	.title-tile{
	// 		background-color: #fff;
	// 		padding: 14px;
	// 		box-shadow: 0 1.5px 1px rgba(163,163,163,0.7);

	// 		h3{
	// 			margin-bottom: 13px;
	// 		}

	// 		p{
	// 			margin-bottom: 30px;
	// 			font-size: 18px;
	// 			color: $general-text-color;
	// 		}

	// 		a{
	// 			display: block;
	// 			text-decoration: none;
	// 			font-size: 15px;
	// 			color: $general-text-color;
	// 			margin-bottom: 4px;
	// 		}

	// 		a:hover{
	// 			text-decoration: underline;
	// 		}
	// 	}

	// 	.column{
	// 		flex: 1;
	// 	}

	// 	.inner-column{
	// 		display: flex;
	// 		width: 100%;

	// 		.column-section{
	// 			width: 100%;
	// 			padding: 10px;
	// 		}
	// 	}


	// }
}
