$accent-color: #7b5dff;

.category-list-container{
  margin: 30px 0 30px 0;

  ul{
    list-style: none;
    display: flex;
  }

  button{
    border: none;
    outline: none;
    cursor: pointer;
    color: #686868;
    font-size: 15px;
    padding: 10px 18px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid rgba(169,169,169, 0.5);
  }

  button:hover{
    transition: 0.4s ease;
    color: $accent-color;
    background-color: rgba(123,93,255, 0.25);
    border-color: $accent-color;
  }

}
