.search-show {
	margin-top: 1em;
	min-height: 60px;
	width: 470px;
	background-color: lighten(#dddddd, 10);
	padding: 0 10px;

	.members-list {
		padding: 10px 0;

		h4 {

		}
	}

	.charities-list {
		padding: 10px 0;

		h4 {

		}
	}
}
