$radius-size: 3px;
$search-color: #9b9b9b;
$search-border: 1px solid $search-color;
$search-border-focus-color: #666AF6;
$search-border-focus: 1.4px solid $search-border-focus-color;
$nav-links-size: 13px; 
$nav-links-weight: 200;

form.search-bar {
	position: relative;

	.searchbar-container {
		width: 540px;
		height: 40px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;

		input {
	 		outline: none;
			vertical-align: middle;
			white-space: nowrap;
			outline: none;
			padding: 0 5px;
	  	overflow: hidden;
		  width: 320px;
		  height: 30px;
		  background-color: white;
		  font-size: 0.8em;
		  color: #5a5a5a;
		  padding-left: 15px;
		 
			border: 0.5px solid $search-color;
			border-bottom-left-radius: $radius-size;
			border-top-left-radius: $radius-size;
			transition: width 0.4s ease-in-out;

			&::placeholder {
				color: $search-color;
			}

			&:focus {
				width: 470px;
				border: $search-border-focus;
			}
		}

		.search-icon{
		  border-top-right-radius: $radius-size;
		  border-bottom-right-radius: $radius-size;
		  border: none;
		  background-color: #ffffff;
		  color: $search-color;
		  height: 30px;
		  width: 60px;
		  font-size: 11pt;
	  	border-top: $search-border;
	  	border-right: $search-border;
	  	border-bottom: $search-border;
		  transition: all .25s ease;
		  outline: none;
		  cursor: pointer;

		  &:hover{
		  	background-color: #f4f4f4;
		  	color: #5a5a5a;
		  }		
		}
	}

	@media screen and (max-width: 1005px) {
		order: 3;
		width: 100%;

		.searchbar-container {
			width: 100%;
			justify-content: center;

			input {
				width: 60%;
			}

			.search-icon {
				width: 10%;
			}
		}
	}

	@media screen and (max-width: 800px) {
		.searchbar-container {
			input {
				width: 70%;

				&:hover {
					width: 90%;
				}
			}

			.search-icon {
				width: 10%;
			}
		}
	}

	@media screen and (max-width: 565px) {
		.searchbar-container {
			input {
				width: 90%;
			}
		}
	}

}